.doctor_card_container {
  width: 95%;
  border: 2px solid white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  border-radius: 0.5rem;
  z-index: 2;
}

.name_img_container {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rating {
  justify-self: end;
  margin-right: 2rem;
}

.bottom_container {
  grid-column: 1/2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
}

.btn {
  justify-self: end;
  margin-right: 2rem;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  border: 2px solid gray;
  color: gray;
}

.img {
  border-radius: 0.5rem;
}
