.feed_container {
  z-index: 2;
}

.doctor_container {
  width: calc(100% - 15rem);
  min-height: calc(100vh - 6rem);
  position: absolute;
  top: 6rem;
  right: 0;
  display: grid;
  grid-auto-rows: 14rem;
  place-items: center;
}
